@tailwind base;
@tailwind components;
@tailwind utilities;

.btn_app {
  @apply pl-12 pr-12 p-4 m-5 opacity-80 text-lg font-bold text-white rounded hover:opacity-100 disabled:opacity-30
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
